@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Macondo&family=Rubik&display=swap");

body {
  margin: 0;
  background: url("https://cdn.wallpapersafari.com/83/86/iBwubk.jpg");
  font-family: "Macondo", cursive, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

code {
  font-family: "Macondo", cursive, "Courier New",
    monospace;
}
