.create {
  display: grid;
  justify-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  color: white;
  border-radius: 10px;

  margin-left: 18em;
  width: 500px;
  height: 600px;
  padding: 40px;
}

.create__input {
  background-color: rgba(0, 0, 0, 0.5);

  font-size: 16px;
  color: white;
  border-radius: 10px;
text-align: center;
  width: 300px;
  height: 30px;
}

.create__select {
  background-color: rgba(0, 0, 0, 0.5);

  font-size: 20px;
  color: white;
  border-radius: 10px;
  text-align: center;

  width: 300px;
  height: 30px;
}

.create__button {
  margin-top: 1rem;

  background-color: rgba(0, 0, 0, 0.5);

  font-size: 20px;
  color: white;
  border-radius: 10px;

  width: 250px;
  height: 60px;
}

.create__button:hover {
  margin-top: 1rem;

  background-color: white;

  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  width: 250px;
  height: 60px;
}

.countriesSelected {
  list-style: none;
}

.countriesSelected__list {
  font-size: 25px;
}
