.landing {
  display: grid;
  place-items: center;
  margin-top: 10em;
}

.text {
  font-size: 50px;
  color: #1b1b1b;
  text-align: center;
}

.landing__link {
  width: 300px;
  height: 70px;

  border-radius: 5px;
  border: none;

  font-size: 25px;
  font-family: "Macondo";

  color: white;
  background-color: rgba(0, 0, 0, 0.5);

  text-align: center;
}

.landing__link:hover {
  width: 300px;
  height: 70px;

  border-radius: 5px;
  border: none;

  font-size: 25px;

  color: black;
  background-color: rgba(255, 255, 255, 0.5);

  text-align: center;
}
