.navbar {
  margin-top: 0;
  margin-left: 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 1);
  height: 60px;
}

.navbar__ul {
  display: flex;
}

.navbar__ul--li--button {
  margin-top: 0;
  margin-left: 35px;
  margin-right: 35px;

  border-radius: 5px;
  border: none;

  background-color: rgba(0, 0, 0, 0.5);

  font-size: 25px;
  font-family: "Macondo";

  color: white;

  width: 220px;
  height: 60px;
}

.navbar__ul--li--button:hover {
  margin-top: 0;
  margin-left: 35px;
  margin-right: 35px;

  border-radius: 5px;
  border: none;

  background-color: white;

  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);

  width: 220px;
  height: 60px;
}

.logo {
  margin-top: -1px;
  margin-left: -6px;
  width: 220px;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  border: none;
}

.logo:hover {
  background-image: none;
  width: 220px;
  height: 60px;
  border-radius: 5px;
  border: none;
}
